.card {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.episodeBox {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
