.icon {
  position: fixed;
  top: 2em;
  right: 0.5em;
  cursor: pointer;
}

.icon > img {
  height: 5rem;
}

.title {
  font-family: Shwifty;
  text-align: center;
  font-size: 3rem;
}

.favsContainer {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
