.overlay {
  z-index: 1;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.281);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  background-color: white;
  max-height: 70vh;
  width: 90vw;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 20px;
}

.close {
  cursor: pointer;
  color: var(--secondary-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  transform: rotate(45deg);
}
