.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.innerWrapper {
  position: relative;
}

.innerWrapper > img {
  width: 30vw;
  min-width: 200px;
  max-width: 400px;
}
