.wrapper {
  position: relative;
}

.wrapper > button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: red;
  position: absolute;
  top: 0em;
  right: 0rem;
  font-size: 1.5rem;
  font-weight: 600;
  transform: rotate(45deg);
}
