@font-face {
  font-family: Shwifty;
  src: url("./assets/fonts/get_schwifty-webfont.woff2") format("woff2"),
    url("./assets/fonts/get_schwifty-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --text-color: #193840;
  --main-color: #42b4ca;
  --secondary-color: #bfde42;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
