.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.inner {
  padding: 0 0.5rem;
  height: 1.5rem;
  border-radius: 30px;
  border: solid 2px var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-size: 0.8rem;
  color: var(--text-color);
  font-weight: 600;
  margin-left: 0.5rem;
}

.input {
  outline: none;
  height: 1rem;
  border: none;
}

.close {
  transform: rotate(45deg);
  color: var(--main-color);
  font-weight: 600;
  cursor: pointer;
}
